* {
    box-sizing: border-box;
    margin: 0;
}
svg,
img {
    display: block;
    width: 100%;
}

.titolo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 4rem;
    /* background-color: rgba(203, 238, 76, 0.33); */
    background-color: #FFDFB9;
}
#logo {
    font-family: "Josefin Sans", sans-serif;
    /*color: #2BAE66; */
    color: #A4193D; 
}
.fragola {
    height: 25px;
    width: 25px;
    margin-top: -4px;
}
.logo-img {
    display: flex;
}

li {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    list-style: none;
    gap:1rem;
    /*color: #2BAE66; */
    color: #A4193D;
    font-weight: 600;
    
}
ul {
    display: flex;
    gap: 3rem;

}
li a {
    text-decoration: none;
    cursor: pointer;
    color: #A4193D;
}
li a:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #72112a;
}
body {
    /* background-color: #2BAE66; 
    background-color: #A4193D; */
    background-color: #FFDFB9;
    
}

#nome {
    font-family: "Josefin Sans", sans-serif;
    color: #A4193D; 
    /* color: #bf090d; */
    font-weight: 900;
    font-size: 3rem;
}
.detail {
    font-family: "Josefin Sans", sans-serif;
    color: #A4193D;
    font-weight: 600;
    font-size: 1.5rem;
}
.principale {
    display: flex;
   flex-direction: column;
   margin-top: 250px;
   margin-left: 300px;
}
#date {
    display: flex;
    margin-left: 900px;
    margin-top: 30px; 
    font-family: "Josefin Sans", sans-serif;
    color: #A4193D;
}
.social {
    display: flex;
    margin-left: 1070px;
    margin-top: 300px;
}
.social svg {
    width: 25px;
    height: 25px;
    color: #A4193D !important;
    fill: #A4193D; 
    transition: all 0.2s;
}
.social ul {
    /* height: var(--header-height); */
    align-items: center;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: #A4193D !important;
}
.social svg:hover {
    color: #A4193D;
    transform: scale(1.3) rotate(13deg);
    fill: black;
}
.animazione{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.fragola-animazione{
    width: 60px;
    height: 60px;
    
    offset-path: path("M42 59C240.4 154.2 136 123.333 59 96C230.2 184 169 225 219 238C269 251 347 174 347 174C347 174 521.4 25.2 515 106C507 207 601 216 612 156C623 96 670 29 675 96C680 163 652 215 632 232C616 245.6 491 238 536 251");
    animation: move 6000ms infinite alternate ease-in-out;
}
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }


.cards{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:1rem 2rem;
    padding-right: 15rem;
    padding-top: 5rem;
}

.card {
    width: 500px;
    height: 500px;
}
.card h2{
    padding-top: 1rem;
    font-family: "Josefin Sans", sans-serif;
    color: #A4193D;
    font-weight: 600;
    font-size: 1.5rem;
}
h2 {
    font-family: "Josefin Sans", sans-serif;
    color: #A4193D;
    font-weight: 900;
    font-size: 2.5rem;
}
.works {
    display: flex;
    align-items: center;
    padding-left: 15rem; 
    padding-top: 20rem; 
    position: fixed;
}

h2 a {
    text-decoration: none;
    color: #72112a;
}

h2 a:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #520c1e
}

